<% //</* Manavdeep Singh 301141024 COMP229*/> %> 
<% if(title=="Contact Me") { %> 
    <div class= "borders" style="padding-top: 20px;">
      <h2>Contact Me</h2>
      <table>
          <tr>
              <td>Contact number: </td>
              <td>(+647) 862 1181</td>
          </tr>
              
          <tr>
              <td>Email</td>
              <td> manavvvv22@gmail.com</td>
          </tr>
      </table>
  </div>
    <% } %> 