<% //</* Manavdeep Singh 301141024 COMP229*/> %> 
<% if (title == "Home") {%>
    <div class="borders" style="padding-top: 20px;">
      Hola! Welcome everyone to my Personal Homepage. <br>
       <br> <br>

      I am really happy to know that you dropped by my webpage to know more about me. 
       
      <br><br><br>
      <strong>Mission</strong> <br>
      A software engineering student passionate about programming. <br>
      I am interested in working for a company that would make utilization of my potential. <br>
      I am open to work from any location.
  </div>
    <% } %> 